<footer class = "footer">
    <div class = "footer-top">
    <p>&copy; 2025 Blog SENAI. Todos os direitos reservados.</p>
</div>
<hr>
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Integrantes </h4>
        Eduarda Ribeiro <br>
        Murilo Silva<br>
        Nathalia Figueiredo<br>
        Thomaz Lima
      </div>
      <div class="footer-column">
        <h4>Orientadores</h4>
        Ricardo Corrêa<br>
        Marcio Denadai
      </div>
      <div class="footer-column">
        <h4>A empresa</h4>
        SENAI SUMARÉ <Br>
        "Dr. Celso Charuri"
      </div>
    </footer>
