<header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/sobre">SOBRE</a></li>
            <li><a href="/dashboard">DASHBOARD</a></li>
        </ul>
    </nav>
    <a href="/login">Sair da Conta</a>
    
</header>