<header>
    <nav>
        <ul>
      <li><a href="/">Home</a> </li>
      <li><a href="/sobre">Sobre</a> </li>
      <% if (!req.session.loggedin) { %>
      <li><a href="/cadastro">Cadastro</a> </li>
      <li><a href="/login">Login</a> </li>
        <% } else { %>
      <li><a href="/dashboard">Dashboard</a> </li>
      <li><a href="/logout">Logout</a> </li>
        <% } %>
    
    </nav>
</header>