
<table width="100%">
  <thead>
    <tr>
      <th>Título</th>
      <th>Conteúdo</th>
      <th>Data da Criação</th>
    </tr>
  </thead>
  <tbody>
    <% if (dados.length > 0) { %>
      <% for(let i=0; i<dados.length; i++) { %>
        <tr>
          <td><%= dados[i].titulo %></td>
          <td><%= dados[i].conteudo %></td>
          <td><%= dados[i].data_criacao %></td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3">Nenhum post encontrado.</td>
      </tr>
    <% } %>
  </tbody>
</table>
