<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    
    <br>
    <center>
        <h1>PAGINA DE CADASTRO CONCLUÍDO</h1>
   <h1> Cadastro concluído com sucesso!</h1> <br>
    <a href="/login">Clique aqui para fazer login</a> <br>
    </center>
    
    
    <%- include("../partials/footer") %>
    
</body>
</html>