<!DOCTYPE html>
<html lang="PT-BR">
    <title>CONCLUÍDO</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/correto.png">

<body>
    <%- include("../partials/menu") %>
    
    <center>
        <h1>CADASTRO CONCLUÍDO</h1>  
        <img src='./static/cadastrado.jpg'/><br>
        <a href="./login">
        <button type="submit">Fazer Login</button> 
    </a>
    </center>
</body>  
    <%- include("../partials/footer") %>
</html>
