<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/dashcadastro.png">
    <title>DASHBOARD</title>

<body>
    <%- include("../partials/menu"); %>
    <center>
        <h1> CADASTRADOS </h1>
        <main>
            <%- include("../partials/usertable"); %>
    
        </main>
    </center>
</body>
<%- include("../partials/footer") %>
</html>
