<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/robo.png">
    <title>ERRO 404</title>
</head>
<%- include("../partials/menu"); %>
<body>
    <center>
    <h1>Pagina não encontrada</h1>  <br>    
    <img src='/static/404.jpg' width='500px'  > 
</center>
</body>
<%- include("../partials/footer") %>
</html>