<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ERRO 404
    <h1>Pagina não encontrada</h1>  <br>    
    <img src='/static/ERRO404.webp' width='500px'  > 
</body>
</html>