<!DOCTYPE html>
<html lang="PT-BR">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <img src="/static/SENAI_logo.png" width="500px">
    </center>
    <center>
        <h1>Bem-vindo ao BLOG do SENAI-Sumaré</h1>
        <%- include("../partials/posttable") %>
    <%- include("../partials/footer") %>
</body>

</html>