<!DOCTYPE html>
<html lang="PT-BR">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <img src="/static/SENAI_logo.png" width="500px">
    </center>
    <center>
        <h1>Bem-vindo ao BLOG do SENAI</h1>
        <h2>Você está na página inicial</h2>   
        <br>
        <p>Explore nossas seções para saber mais sobre a carreira, discografia e conquistas do artista.</p>
        <p>Fique à vontade para navegar e descobrir tudo sobre o KENDRICK LAMAR!</p>
     

    <%- include("../partials/footer") %>
</body>
//murilo fazendo
//footer la pra baixo
</html>