<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/login.png">
    <title>LOGIN</title>

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <center>
        <h1>FAZER LOGIN </h1>
        <main>
            <form action="/login" method="post" class="formItens">
        <table>
            <tr>
                <td>
                    Login:
                </td>
                <td>
                    <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário">
                </td>
            </tr>
            <tr>
                <td>
                    Senha:
                </td>
                <td>
                    <input type="password" name="password" id="password" placeholder="Digite sua senha">
                </td>
            </tr>
        </table>

        <br>
        <br>
        <button type="submit" id="btnEntrar">ENTRAR</button>
            </form>
        </main>
    </center>
    <br><br>
    <a href="./cadastro">
        <button type="submit">Não tenho login</button>
    </a>
   
</body>
<%- include("../partials/footer") %>
</html>
//footer la em baixo
//cor dos botoes