<menu>
     <nav>
     <a href="/sobre">Pagina Sobre</a>
     <a href="/cadastro">Pagina cadastro</a>
     <a href="/login">Pagina Login</a>
     <a href="/dashboard">Pagina dashboard</a>
     <a href="/logout">Logout</a>
     <a href="/sobre">Pagina Sobre</a>


     </nav>


</menu>