<!DOCTYPE html>
<html lang="PT-BR">
  <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/post.png">
    <title>CRIAR POST</title>
</head>
<body>
    <%- include("../partials/menu"); %>
    <main>
      <form action ="/post_create" method="post" >
        <center>
        <h1> ADICIONAR UM POST </h1>
      </center>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required><br><br>
        <label for="conteudo">Conteúdo:</label> <br>
        <textarea id="conteudo" name="conteudo" rows="10" cols="80" required></textarea><br><br>
        <button type="submit"> Cadastrar Postagem</button>
      </form>
    </main>
</body>
<%- include("../partials/footer"); %>

</html>