<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/SOBRE.png">
    <title>SOBRE</title>
<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <h1>Sobre o Blog</h1>
        <img src='/static/BLOG SENAI.jfif' width='500px' alt="OLA">
        <a><p>O site do BLOG SENAI foi criado com o intuito de divulgar informações sobre a rede SENAI e <br> 
            divulgar um pouco mais da escola.</p></a>
    </center><br>
     <br><br>
</body>
//MURILO FAZENDO
   
<%- include("../partials/footer") %>

</html>