<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/SOBRE.png">
    <title>SOBRE</title>
<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <img src='/static/BLOG SENAI.jpg' width='500px' alt="OLA"><br><br>
        <a><p>O BLOG SENAI foi criado com o intuito de divulgar informações sobre a rede SENAI-Sumaré  </p></a>
    </center><br>
     <br><br>
</body>
//footer la em baixo
<%- include("../partials/footer") %>
</html>