<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <h1>Sobre o Kendrick</h1>
        <img src='/static/kendrick.pjpeg' width='500px' alt="OLA">
        <a><p> Kendrick Lamar Duckworth (17 de junho de 1987)é um rapper, compositor e músico norte-americano. Considerado um dos melhores rappers de todos os tempos, ele recebeu o Prêmio Pulitzer em 2018, tornando-se o primeiro músico fora dos gêneros clássico e jazz a receber a homenagem.[2][3][4][5]
       Nascido em Compton, Califórnia, Lamar começou a lançar músicas sob o nome artístico K.Dot enquanto frequentava o ensino médio. Ele assinou com a Top Dawg Entertainment (TDE) em 2005 e co-fundou o supergrupo de hip hop Black Hippy.[6] Após o lançamento de seu álbum de estreia de rap alternativo, Section.80 (2011), Lamar assinou um contrato conjunto com a Aftermath Entertainment do Dr. Dre e a Interscope Records. 
Ele conquistou popularidade com seu segundo álbum, influenciado pelo gangsta rap, Good Kid, M.A.A.D City (2012), que se tornou o álbum de hip hop com o maior tempo de permanência na história da Billboard 200; a revista Rolling Stone considerou-o o melhor álbum conceitual de todos os tempos.[7] Em 2015, Lamar conseguiu sua primeira canção número um na Billboard Hot 100, ao participar do remix de "Bad Blood" de Taylor 
Swift, e lançou seu terceiro álbum, To Pimp a Butterfly, que mesclou hip hop com gêneros musicais históricos afro-americanos como jazz, funk e soul, e tornou-se seu primeiro de cinco álbuns consecutivos a liderarem a Billboard 200.  </p></a>
    </center><br>
     <br><br>
</body>
   
<%- include("../partials/footer") %>

</html>