<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %>

<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <h1>Sobre o SENAI</h1>
        <img src='/static/kendrick.pjpeg' width='500px'>
    </center>
</body>

<%- include("../partials/footer") %>

</html>