<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/SOBRE.png">
    <title>SOBRE</title>
<body>
    <%- include("../partials/menu") %>
    <br>
    <center>
        <h1>Sobre o Kendrick</h1>
        <img src='/static/kendrick.pjpeg' width='500px' alt="OLA">
        <a><p>Kendrick Lamar Duckworth (nascido em 17 de junho de 1987) é um rapper, compositor e produtor musical americano,  </p>
         considerado um dos maiores rappers de todos os tempos. Ele foi o primeiro músico fora dos gêneros clássico e jazz a receber o Prêmio Pulitzer de Música em 2018, por seu álbum DAMN.</p></a>
    </center><br>
     <br><br>
</body>
//MURILO FAZENDO
   
<%- include("../partials/footer") %>

</html>