<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Você já possui uma conta, faça login!</h1> <br>
    <a href="/login">CLIQUE PARA FAZER LOGIN</a> <br>
</body>
</html>