<!DOCTYPE html>
<html lang="PT-BR">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="icon" href="static/jalogado.png">
    <title>JÁ CADASTRADO</title>

<body>
    <%- include("../partials/menu"); %>
    <center>
    <central></central><h1>Você já possui uma conta, Faça Login!</h1> <br>
    <a href="./login">
        <button type="submit"> Fazer Login</button>
    </a>
</center>
</body>
<%- include("../partials/footer"); %>

</html>
//estilizar 

