<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head"); %> 
<body>
    <%- include("../partials/menu"); %>
    <central></central><h1>Você já possui uma conta, faça login!</h1> <br>
    <a href="/login">CLIQUE PARA FAZER LOGIN</a> <br>
    <h1>Não possui uma conta? Cadastre-se!</h1> 
    <a href="/cadastro">CLIQUE PARA SE CADASTRAR</a> <br>
    <%- include("../partials/footer"); %>
</body>
</html>