* {
    font-family: Arial;

}

body {
    background-image: url();
    margin: 0;
}

header {
    background-color: #5d7ed2;
    padding: 8px;
    color: rgb(248, 248, 248);
    max-width: 100%;
    text-align: end;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 35px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header a:hover {
    color: #a1a1a1;
}


table {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #6dc8f5;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table tr:last-child {
    border-bottom: none;
}

table td {
    padding: 12px 10px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

table td.label {
    font-weight: bold;
    text-align: right;
    width: 40%;
    color: #a61515;
}

table td.input {
    width: 60%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


footer {
    position: static;
    text-align: center;
    background-color: #266dab;
    color: rgb(255, 255, 255);
    padding: 5px 0;
    width: 100%;
    bottom: -10px;
    text-align: center;
}
.footer-top {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .footer hr {
    border: 1px solid rgb(255, 246, 246);
    margin: 20px 0;
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: underline;
  }

#cadastrar{
    padding: 10px;
    font-size: 14px;
}

#VoltarLogin{
    padding: 10px;
    font-size: 14px; 
}

button{ 
    border: none;
    padding: 8px;
    background-color: rgb(22, 183, 192);
    color: white;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(8, 57, 92);
}

td{
    font-size: 25px;
    font-weight: bolder;
    color: rgb(146, 17, 17);
}